body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}

body {
    font-family: Arial, sans-serif;
   
 
      
}


.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: white;
    height: 100vh;
    box-sizing: border-box;
    background-image: url('https://static.madenta-budapest.co.uk/uploads/dental-holiday-budapest.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
 
}
.banner-content {
    max-width: 40%;
    margin-left: 2em;
    margin-top: 5em;
    padding: 5em;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 10px 30px 60px 120px;
width: 40%;
}

.banner-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    color: rgb(17, 97, 21);
    box-shadow:#0a685e;


}

.banner-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: rgb(43, 87, 22);
padding: 0.3em;
}

.banner-content button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #a5984b; /* Azul Turquesa */
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 249);
    cursor: pointer;
    border-radius: 30px 50px 60px 120px;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.carousel-container {
    max-width: 50%;
    position: relative;

}

.cards-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-top: 7em;
    margin-left: 2.5em;
}

.card {
    min-width: 200px;
    margin-right: 15px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background-color: white;
    text-align: center;
    margin-left: 0.9em;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid #32CD32; /* Verde Lima */
}

.card-text {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.card:hover {
    transform: scale(1.05);
}

.carousel-controls {
    position: absolute;
    top: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

}
.scroll-btn .left{
right: 5em;
}

.scroll-btn {
    background-color: rgba(131, 211, 40, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.3s ease;

}

.scroll-btn:hover {
    background-color: rgba(0, 212, 35, 0.8);
}

@media (max-width: 1024px) {
    .banner-container {
        flex-direction: column;
        height: auto;
        padding: 90px;
        margin-top: 2em;
        
    }

    .banner-content {
        max-width: 100%;
        width: 100%;
        padding: 2em;
        margin-left: 0;
        margin-top: 0;
    }

    .carousel-container {
        max-width: 100%;
        width: 100%;
        margin-top: 3em;
    }

    .cards-container {
        margin-top: 2em;
       
    }

    .card {
        min-width: 200px;
    
    }

    .card img {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 2em;
    }

    .banner-content p {
        font-size: 1.2em;
    }

    .banner-content button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .card {
        min-width: 120px;
    }

    .card img {
        height: 150px;
    }
}

@media (max-width: 480px) {
    .banner-container {
        padding: 10px;
    }

    .banner-content h1 {
        font-size: 1.5em;
    }

    .banner-content p {
        font-size: 1em;
      
    }

    .banner-content button {
        font-size: 12px;
        padding: 8px 16px;
        color: rgb(32, 70, 34);
    }

    .card {
        min-width: 100px;
    }

    .card img {
        height: 120px;
    }
}
/* Ajustes generales */
.card {
    min-width: 200px; /* Ajusta el ancho mínimo general si es necesario */
    margin-right: 15px; /* Espacio entre tarjetas */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background-color: white;
    text-align: center;
}

.card img {
    width: 100%;
    height: 250px; /* Ajusta la altura de la imagen para pantallas grandes */
    object-fit: cover;
    border-bottom: 2px solid #32CD32; /* Verde Lima */
}

.card-text {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Ajustes para tablets (pantallas entre 768px y 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
    .card {
        min-width: 250px; /* Aumentar el ancho mínimo en tablets */
    }

    .card img {
        height: 270px; /* Aumentar la altura de la imagen en tablets */
    }

    .card-text {
        padding: 20px; /* Aumentar el espaciado interno */
        font-size: 20px; /* Aumentar el tamaño de la fuente */
    }
}

/* Ajustes para móviles (pantallas menores a 768px) */
@media (max-width: 768px) {
    .card {
        min-width: 220px; /* Aumentar el ancho mínimo en móviles */
    }

    .card img {
        height: 250px; /* Aumentar la altura de la imagen en móviles */
    }

    .card-text {
        padding: 15px; /* Ajustar el espaciado interno */
        font-size: 18px; /* Ajustar el tamaño de la fuente */
    }
}

/* Estilo general para la sección de tarjetas */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}




.country-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: 30px;
}
.country-card {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.country-card:hover {
    transform: scale(1.05);
}


.country-card-image {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px; /* Aumentar altura de la imagen */
    display: flex;
    align-items: flex-end;
}

.country-card-text{
    color: #fff; /* Color del texto */
    font-size: 4em; /* Tamaño del texto */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto para mejorar legibilidad */
    text-align: center;
    padding: 20px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    margin-left: 1em;
}


.texto-1{
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;

    padding: 1em;

    color: rgba(180, 167, 50, 0.897);

}

.country-card-text a{
font-size: 0.5em; 
color: #fff;  
}
.country-card-text a:hover{
color: #32CD32;
}


@media (max-width: 768px) {
    .country-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas más grandes en tablets */
    }
    .country-card-image {
        height: 350px; /* Aumentar altura en tablets */
    }

    .country-card-text {
        font-size: 3.5em; 
        text-align: center;
        padding: 0.6em;/* Texto un poco más grande en tablets */
    }
}

/* Media Queries para Celulares */
@media (max-width: 480px) {
    .country-cards {
        grid-template-columns: 1fr; /* Una columna en dispositivos pequeños */
    }

    .country-card-image {
        height: 300px; /* Aumentar altura en celulares */
    }
  


    

    .country-card-text ul {
        flex-direction: column;
        text-align: center;
    }
}